In [16]:
import nltk

In [12]:
import io 
import codecs
import csv
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
from nltk import stem

In [14]:
import re

In [10]:
from nltk.corpus import stopwords
from string import punctuation

In [53]:
def cleaner(text):

    words = re.split(r'\W+', str(text))
    words = [word.lower() for word in words]
    without_punct = [wp for wp in words if wp not in punctuation]
    sw = stopwords.words('english')
    without_sw = [w for w in without_punct if w not in sw] 
    list_to_remove = ['b','br','span', 'one' , 'id', 'none' ]
    clean_more = [w for w in without_sw if w not in list_to_remove] 
    clean_more_2 = [w for w in clean_more if  not (re.findall(re.compile(r'freetext'),w)
                                                   or re.findall(re.compile(r'\d'),w)) ] 
    ps = nltk.stem.PorterStemmer()
    stemmed_list=[ps.stem(w) for w in clean_more_2 ]
    return ' '.join(stemmed_list)

In [54]:
text=''
for books in range(20001,30001):
    try:
        df = pd.read_csv("books_3_tsv/article_"+str(books)+".tsv", sep='\t', encoding='utf-8' ) #vocab read csv files
    except:
        continue
    df = df.fillna("")
    df['book_title']=df['book_title'].apply(cleaner)
    df['complete_plot']=df['complete_plot'].apply(cleaner)
    #df['book_series']=df['book_series'].apply(cleaner)

    #df.to_csv('prova_libro_'+str(books)+'.tsv') #to create new cleaned csv use this line 
    #now create the vocab
    
    title = df.iloc[0, 0]
    plot = df.iloc[0, 8]
    text = text + " " + title + " " + plot

arr = set(text.split()) # use set to eliminate repeating words
vocab = pd.DataFrame(arr)
vocab.to_csv("vocab.csv") #save vocabulary as csv with indices for each vocab

In [1]:
#import pandas as pd
#text =""
#for books in range(20001,20009):
#    try:
#        df = pd.read_csv("books_3_tsv/article_"+str(books)+".tsv", sep='\t', encoding='utf-8' ) #vocab read csv files
#    except:
#        continue
#    df = df.fillna("")
#    title = df.iloc[0, 0]
#    plot = df.iloc[0, 8]
#    text = text + " " + title + " " + plot
#arr = set(text.split()) # use set to eliminate repeating words
#vocab = pd.DataFrame(arr)
#vocab.to_csv("vocab.csv") #save vocabulary as csv with indices for each vocab'

In [55]:
df_voc= pd.read_csv('vocab.csv')

In [56]:
df_voc.columns=['id','word']

In [57]:
df_voc

          id        word
0          0     milosev
1          1        نصوص
2          2  bemushroom
3          3  timelessli
4          4      gammag
...      ...         ...
33168  33168   unearthli
33169  33169   laventhol
33170  33170  humaniform
33171  33171       nepal
33172  33172        nimu

[33173 rows x 2 columns]